blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
small {
  font-size: 12px;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  width: 100%;
  min-width: 1200px;
  -webkit-font-smoothing: antialiased;
}
body,
button,
input,
select,
textarea {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
button {
  cursor: pointer;
}
.clearfix:after {
  display: block;
  content: '';
  overflow: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#999;
  }
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#999;
 }
input::-moz-placeholder, textarea::-moz-placeholder {
  color:#999;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:#999;
 }
/**
*** 预留字体
***
  @font-face {
    font-family: regular;
    src: url("../font/SourceHanSansCN-Regular.TTF");
  }
@font-face {
  font-family:Light ;
  src: url("../font/SourceHanSansCN-Light.otf");
}
@font-face {
  font-family: Normal1;
  src: url("../font/SourceHanSansCN-Normal.otf");
}
@font-face {
  font-family: regular;
  src: url("../font/SourceHanSansCN-Regular.TTF");
}
@font-face {
  font-family: regular;
  src: url("../font/SourceHanSansCN-Regular.TTF");
}*/
